<!DOCTYPE html>
<html>
<head>
  <meta content=‘text/html; charset=UTF-8’ http-equiv=‘Content-Type’ />
</head>
<body>
<h1>Bienvenue chez nous !</h1>
<p>
  <%# Vous venez d'etre inscrit  par l'admin de la compagnie <%= current_user.company %> %>
  vous a ajouter en tant que collaborateur de la plateforme PosTHP
  en utilisant l’e-mail suivant : <%= @user.email %>
  password : '123456'
</p>
<p>
 
  pour assurer la sécurité de votre compte.
</p>
<p> À très vite sur <a href="https://posthp.herokuapp.com/">https://posthp.herokuapp.com/</a> !
</body>
</html>
