<!DOCTYPE html>
<html>
<head>
  <meta content=‘text/html; charset=UTF-8’ http-equiv=‘Content-Type’ />
</head>
<body>
<h1>bienvenue chez nous !</h1>
<p>
  vous venez d'etre inscrit  par l'admin de la compagnie THP-POS
  du site https://thppos.herokuapp.com/users/sign_in 
  en utilisant l’e-mail suivant : <%= @user.email %> 
  password : '123456'
</p>

<p> À très vite sur https://thppos.herokuapp.com !
</body>
</html>