<%= form_tag(roles_path, method: :post)%>
    
      <div class="form-group">
      <%= label_tag :name %><br />
      <%= text_field_tag :name,  nil, placeholder: "Status of the person", class: "form-control form-control-user" %>
      </div>

