<h1>New Product</h1>
<<<<<<< HEAD
<%= render "form", product: @product %>
<%= link_to "Back", products_path %>
=======

<%= render 'form', product: @product %>

<%= link_to 'Back', products_path %>

>>>>>>> master
